{% extends 'base.html' %}
{% block titulo %}Login - {{ block.super }}{% endblock %}
{% block contenido %}
    <h1>Login</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        <!-- Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br /> -->
        <hr>
        {{ form.as_p }}
        <button type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
