{% extends 'base.html' %}

{% load widget_tweaks %}

{% block titulo %}Cargar Incidente - {{ block.super }}{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><strong>Cargar incidente</strong></h3>
      </div>
      <div class="panel-body">

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Error!</strong> {{ error }}
        </div>
        {% endfor %}
        {% endif %}


        <form role="form" action="" method="post">
          {% csrf_token %}
          {% for field in form %}
            {% if field.errors %}
            <div class="form-group has-error">
              {{ field.label_tag }}
              {{ field|add_class:"form-control" }}
              <span class="help-inline">
                {% for error in field.errors %}{{ error }}{% endfor %}
              </span>
            </div>
            {% else %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field|add_class:"form-control" }}
            </div>
            {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-sm btn-default">Cargar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
