{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %}Detalle Handheld - {{ block.super }}{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li class="active">Detalle Handheld</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Numero de serie</u>: {{ handheld.numero_de_serie }}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="label label-default">Modelo:</span>
            <span class="label label-primary">{{ handheld.modelo }}</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Estado:</span>
            <span class="label label-primary">{{ handheld.estado }}</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Fecha del ultimo cambio:</span>
            <span class="label label-primary">{{ handheld.fecha_ultimo_cambio|date:"d/m/Y" }}</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Asignada al vendedor:</span>
            {% if handheld.vendedor %}
            <a href="{% url 'vendedor_detail' pk=handheld.vendedor.pk %}"><span class="label label-primary">{{ handheld.vendedor }}</span></a>
            {% else %}
            <span class="label label-primary"><span>---</span>
            {% endif %}
          </li>

          <li class="list-group-item">
            <span class="label label-default">Asignada a la sucursal:</span>
            {% if handheld.sucursal %}
            <span class="label label-primary">{{ handheld.sucursal }}</span>
            {% else %}
            <span class="label label-default"><span>---</span>
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        {% if user.is_admin %}
          <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#cambiarModal" data-handheld="{{ handheld }}" data-handheld-estado="{{ handheld.estado.pk }}" data-handheld-cambiar-url="{% url 'handheld_cambiar_estado' pk=handheld.pk %}?return_url={{ request.path }}">Cambiar estado</button>
          <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#moverModal" data-handheld="{{ handheld }}" data-handheld-sucursal="{{ handheld.sucursal.pk }}" data-handheld-mover-url="{% url 'handheld_mover_sucursal' pk=handheld.pk %}?return_url={{ request.path }}">Mover de sucursal</button>
          <button onclick="javascript: window.history.go(-1)" class="btn btn-xs btn-info pull-right">Volver</button>
        {% else %}
          <button onclick="javascript: window.history.go(-1)" class="btn btn-xs btn-info">Volver</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- cambiarEstadoModal -->
{% include "_cambiar_handheld_estado_modal.html" %}
<!-- moveSucursalModal -->
{% include "_mover_handheld_sucursal_modal.html" %}

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/cambiar_handheld_estado_modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mover_handheld_sucursal_modal.js' %}"></script>
{% endblock %}
