{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %}Handhelds - {{ block.super }}{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li class="active">Handhelds</li>
    </ul>
  </div>
</div>

{% include "_handheld_buscar.html" %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Numero de Serie</th>
          <th>Modelo</th>
          <th>Estado</th>
          <th>Fecha del ultimo cambio</th>
          <th>Asignada al vendedor</th>
          <th>Asignada a la sucursal</th>
          {% if user.is_admin %}
            <th>Acciones</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for handheld in handhelds %}
        <tr>
          <td><a href="{% url 'handheld_detail' pk=handheld.pk %}">{{ handheld.numero_de_serie }}</a></td>
          <td>{{ handheld.modelo }}</td>
          <td>{{ handheld.estado|title }}</td>
          <td>{{ handheld.fecha_ultimo_cambio|date:'d/m/Y' }}</td>
          {% if handheld.vendedor %}
            <td><a href="{% url 'vendedor_detail' pk=handheld.vendedor.pk %}">{{ handheld.vendedor }}</a></td>
          {% else %}
            <td>---</td>
          {% endif %}
          {% if handheld.sucursal %}
            <td>{{ handheld.sucursal }}</td>
          {% else %}
            <td>---</td>
          {% endif %}
          {% if user.is_admin %}
            <td>
              <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#cambiarModal" data-handheld="{{ handheld }}" data-handheld-estado="{{ handheld.estado.pk }}" data-handheld-cambiar-url="{% url 'handheld_cambiar_estado' pk=handheld.pk %}?return_url={{ request.path }}">Cambiar estado</button>
              <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#moverModal" data-handheld="{{ handheld }}" data-handheld-sucursal="{{ handheld.sucursal.pk }}" data-handheld-mover-url="{% url 'handheld_mover_sucursal' pk=handheld.pk %}?return_url={{ request.path }}">Mover de sucursal</button>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- cambiarEstadoModal -->
{% include "_cambiar_handheld_estado_modal.html" %}
<!-- moveSucursalModal -->
{% include "_mover_handheld_sucursal_modal.html" %}

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/cambiar_handheld_estado_modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mover_handheld_sucursal_modal.js' %}"></script>
{% endblock %}
