{% extends 'base.html' %}
{% block titulo %}Impresoras - {{ block.super }}{% endblock %}
{% block contenido %}
    <h1>Lista Impresoras</h1>
    {% for impresora in impresoras %}
        <h2>
            <a href="{% url 'impresora' id=impresora.id %}">
                {{ impresora.numero_de_serie }}
            </a>
        </h2>
        <p><u>Modelo</u>: {{ impresora.modelo }}</p>
        <p><u>Marca</u>: {{ impresora.marca }}</p>
        <p><u>Fecha del ultimo cambio</u>: {{ impresora.fecha_ultimo_cambio }}</p>
        <p><u>Estado</u>: {{ impresora.estado }}</p>
        {% if impresora.vendedor %}
            <p><u>Asignada a</u>: <a href="{% url 'vendedor' id=impresora.vendedor.id %}">{{ impresora.vendedor }}</a></p>
        {% else %}
            <p><u>Sin asignar</u></p>
        {% endif %}
        {% if impresora.centro_distribucion %}
            <p><u>Se encuentra en el CD</u>: {{ impresora.centro_distribucion }}</p>
        {% else %}
            <p><u>No se encuentra en ningun CD</u></p>
        {% endif %}
    {% endfor %}
{% endblock %}