{% extends 'base.html' %}
{% block titulo %}Incidentes - {{ block.super }}{% endblock %}
{% block contenido %}
    <h1>Lista Incidentes</h1>
    {% for incidente in incidentes %}
        <h3><u>ID</u>: {{ incidente.pk }}</h3>
        <p><u>Tipo</u>: {{ incidente.tipo }}</p>
        <p><u>Descripcion</u>: {{ incidente.descripcion }}</p>
        <p><u>Solucion</u>: {{ incidente.solucion }}</p>
        {% if incidente.handheld %}
            <p>
                <u>Handheld relacionada</u>: {{ incidente.handheld.numero_de_serie }}
                <a href="{% url 'handheld_cambiar_estado' pk=incidente.handheld.pk %}">
                    <button href="{% url 'handheld_cambiar_estado' pk=incidente.handheld.pk %}">Cambiar estado</button>
                </a>
                <a href="{% url 'handheld_mover_sucursal' pk=incidente.handheld.pk %}">
                    <button>Mover de sucursal</button>
                </a>
            </p>
        {% endif %}
        {% if incidente.vendedor %}
            <p>
                <u>Vendedor relacionado</u>: {{ incidente.vendedor }}
                <a href="{% url 'vendedor_asignar_handheld' pk=incidente.vendedor.pk %}">
                    <button>Asignar nueva handheld</button>
                </a>
                {% if incidente.vendedor.handheld %}
                    <a href="{% url 'vendedor_remover_handheld' pk=incidente.vendedor.pk %}">
                        <button>Remover handheld asignada</button>
                    </a>
                {% endif %}
            </p>
        {% endif %}
        {% if incidente.usuario %}
            <p><u>Creado por</u>: {{ incidente.usuario }}</p>
        {% endif %}
        <p><u>Fecha de carga</u>: {{ incidente.fecha_carga }}</p>
    {% endfor %}
{% endblock %}
