{% extends 'base.html' %}
{% block titulo %}Incidentes - {{ block.super }}{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li class="active">{{ titulo }}{% if usuario %} <b>{{ usuario }}</b>{% endif %}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descripcion</th>
          <th>Tipo</th>
          <th>Handheld</th>
          <th>Vendedor</th>
          <th>Creado por</th>
          <th>Fecha</th>
          <th>Revisado?</th>
        </tr>
      </thead>
      <tbody>
        {% for incidente in incidentes %}
        <tr>
          <td><a href="{% url 'incidente_detail' pk=incidente.pk %}">{{ incidente.pk }}</a></td>
          <td>{{ incidente.descripcion|truncatechars:40 }}</td>
          <td>{{ incidente.tipo }}</td>
          {% if incidente.handheld %}
            <td><a href="{% url 'handheld_detail' pk=incidente.handheld.pk %}">{{ incidente.handheld }}</a></td>
          {% else %}
            <td>---</td>
          {% endif %}
          {% if incidente.vendedor %}
            <td><a href="{% url 'vendedor_detail' pk=incidente.vendedor.pk %}">{{ incidente.vendedor }}</a></td>
          {% else %}
            <td>---</td>
          {% endif %}
          {% if incidente.usuario %}
            <td>{{ incidente.usuario }}</td>
          {% else %}
            <td>---</td>
          {% endif %}
          <td>{{ incidente.fecha_carga|date:'d/m/Y' }}</td>
          {% if incidente.revisado %}
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </td>
          {% else %}
          <td>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
