{% extends 'base.html' %}
{% block titulo %}Detalle Vendedor - {{ block.super }}{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li class="active">Detalle Vendedor</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Legajo: {{ vendedor.legajo }}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="label label-default">Nombre:</span>
            <span class="label label-primary">{{ vendedor.nombre }} {{ vendedor.apellido }}</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Modalidad:</span>
            <span class="label label-primary">{{ vendedor.modalidad }}</span>
          </li>
          <li class="list-group-item">
            {% if vendedor.handheld %}
            <span class="label label-default">Handheld asignada:</span>
            <a href="{% url 'handheld_detail' pk=vendedor.handheld.pk %}"><span class="label label-primary">{{ vendedor.handheld }}</span></a>
            {% else %}
            <span class="label label-default"><span>---</span>
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <a href="{% url 'vendedor_asignar_handheld' pk=vendedor.pk %}" class="btn btn-xs btn-default">Asignar nueva handheld</a>
        {% if vendedor.handheld %}
          <a href="{% url 'vendedor_remover_handheld' pk=vendedor.pk %}" class="btn btn-xs btn-primary">Remover handheld asignada</a>
        {% endif %}
        <a href="{% url 'vendedor_buscar' %}" class="btn btn-xs btn-info pull-right">Volver</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
