{% extends 'base.html' %}
{% block titulo %}Vendedor - {{ block.super }}{% endblock %}
{% block contenido %}
    <h1><u>Vendedor</u>: {{ vendedor.legajo }}</h1>
    <p><u>Nombre</u>: {{ vendedor.nombre }} {{ vendedor.apellido }}</p>
    {% if vendedor.handheld %}
        <p><u>Handheld asignada</u>: <a href="{% url 'handheld' id=vendedor.handheld.id %}">{{ vendedor.handheld.numero_de_serie }}</a></p>
    {% else %}
        <p><u>Sin asignar handheld</u></p>
    {% endif %}
    {% if vendedor.impresora %}
        <p><u>Impresora asignada</u>: <a href="{% url 'impresora' id=vendedor.impresora.id %}">{{ vendedor.impresora.numero_de_serie }}</a></p>
    {% else %}
        <p><u>Sin asignar impresora</u></p>
    {% endif %}
{% endblock %}