{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %}Detalle Vendedor - {{ block.super }}{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li class="active">Detalle Vendedor</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Legajo: {{ vendedor.legajo }}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="label label-default">Nombre:</span>
            <span class="label label-primary">{{ vendedor.nombre }} {{ vendedor.apellido }}</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Modalidad:</span>
            <span class="label label-primary">{{ vendedor.modalidad }}</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Handheld asignada:</span>
            {% if vendedor.handheld %}
            <a href="{% url 'handheld_detail' pk=vendedor.handheld.pk %}"><span class="label label-primary">{{ vendedor.handheld }}</span></a>
            {% else %}
            <span class="label label-default"><span>---</span>
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        {% if user.is_admin %}
          <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#asignarModal" data-vendedor="{{ vendedor }}" data-vendedor-asignar-url="{% url 'vendedor_asignar_handheld' pk=vendedor.pk %}?return_url={{ request.path }}">Asignar nueva handheld</button>
          {% if vendedor.handheld %}
            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#removerModal" data-vendedor="{{ vendedor }}" data-vendedor-remover-url="{% url 'vendedor_remover_handheld' pk=vendedor.pk %}?return_url={{ request.path }}">Remover handheld asignada</button>
          {% endif %}
          <a href="{{ vendedor.get_admin_url }}" class="btn btn-xs btn-warning">Editar</a>
          <button onclick="javascript: window.history.go(-1)" class="btn btn-xs btn-info pull-right">Volver</button>
        {% else %}
          <button onclick="javascript: window.history.go(-1)" class="btn btn-xs btn-info">Volver</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- asignarModal -->
{% include "_asignar_handheld_modal.html" %}
<!-- removerModal -->
{% include "_remover_handheld_modal.html" %}

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/asignar_handheld_modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/remover_handheld_modal.js' %}"></script>
{% endblock %}
